body{
    background-color: #1a1a1a;
    color:rgb(234, 234, 17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.js-score{
    font-size: large;
}
.js-result{
    font-size: x-large;
    font-weight: 600;
}

.container{
    margin-top: 3px;
    margin-bottom: 30px;
}
.reset-btn{
    background-color: rgba(255, 255, 0, 0.83);
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 22px 20px rgba(255, 255, 0, 0.288);
}

.reset-btn:hover{
    border-color: rgb(255, 255, 0);
}

.auto-btn{
    background-color: rgba(255, 255, 0, 0.83);
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0px 22px 20px rgba(255, 255, 0, 0.288);
}

.auto-btn:hover{
    border-color: rgb(255, 255, 0);
}



.btn{
    background-color: transparent;
    border: none;
    font-size: xx-large;
    box-shadow: 0px 15px 5px black;
    transition: box-shadow;
    transition-duration: 0.4s;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.28);
}


.moves{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}


.user-move{
    border-radius: 50%;
    box-shadow: 0px 2px 14px black ;
    padding-left: 30px;
    padding-right: 30px;
}
.com-move{
    border-radius: 50%;
    box-shadow: 0px 2px 14px black ;
    padding-left: 30px;
    padding-right: 30px;
}

.u{
    font-size: xx-large;
}